*{
	padding:0;
	margin: 0;
}
a{
 	text-decoration: none !important;	
}
a:hover{
	color: black !important;
}
html, 
body {
    height: 100%;
}
.wrapper{
	height: 100% !important;
}
.item{
	padding: 10px;
}
.text-blue{
	color: blue;
}